* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
label {
  padding: 10px;
}
input {
  margin-left: 7px;
  width: 250px;
  height: 30px;
}
.container-inputs {
  display: flex;
  justify-content: center;
  font-size: 35px;
}
.checkBox {
  width: 30px;
  height: 30px;
}
.dateInput {
  width: 200px;
  height: 30px;
  font-size: 20px;
}
.btnClick {
  display: flex;
  justify-content: center;
  width: 90vw;
  height: 50px;
  font-size: 30px;
  border-radius: 80px;
}
